<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>党报进家庭</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
<div class="container">
 <header>
     <h1>党报党刊进家庭</h1>
     <svg class="icon" aria-hidden="true">
         <use xlink:href="#icon-wode"></use>
     </svg>
 </header>
    <nav>
       <div class="inner">
           <!--<div class="item selected"><a href="http://localhost:63342/partNewspaper/views/index.html?_ijt=erhu1okqpe07o25lbc4rgrgbjq">推荐</a></div>-->
           <!--<div class="item"><a href="http://localhost:63342/partNewspaper/views/second-page.html?_ijt=smqnnf6jus6n3bsj4fa82ci0ho">中央报刊</a></div>-->
           <!--<div class="item">四川报刊</div>-->
           <!--<div class="item">宜宾报刊</div>-->
           <!--<div class="item">时政报刊</div>-->
           <!--<div class="item">党建期刊</div>-->
           <!--<div class="item">理论期刊</div>-->
       </div>
    </nav>
    <div class="news-items">
        <!--<div class="item">-->
            <!--<div class="cover">-->
                <!--<img src="../images/1.jpg" height="100" width="100">-->
            <!--</div>-->

            <!--<div class="contents">-->
                <!--<h2>"强军风采"群众性文化活动在全军展开</h2>-->
                <!--<p>-->
                    <!--<span>解放军报</span>-->
                    <!--<span>2017-03-31</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="cover">-->
                <!--<img src="../images/1.jpg" height="100" width="100">-->
            <!--</div>-->

            <!--<div class="contents">-->
                <!--<h2>"强军风采"群众性文化活动在全军展开</h2>-->
                <!--<p>-->
                    <!--<span>解放军报</span>-->
                    <!--<span>2017-03-31</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="cover">-->
                <!--<img src="../images/1.jpg" height="100" width="100">-->
            <!--</div>-->

            <!--<div class="contents">-->
                <!--<h2>"强军风采"群众性文化活动在全军展开</h2>-->
                <!--<p>-->
                    <!--<span>解放军报</span>-->
                    <!--<span>2017-03-31</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="cover">-->
                <!--<img src="../images/1.jpg" height="100" width="100">-->
            <!--</div>-->

            <!--<div class="contents">-->
                <!--<h2>"强军风采"群众性文化活动在全军展开</h2>-->
                <!--<p>-->
                    <!--<span>解放军报</span>-->
                    <!--<span>2017-03-31</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
        <footer>
            <div class="x-footer">
        <div><svg class="icon selected" aria-hidden="true">
            <use xlink:href="#icon-home"></use></svg></div>
        <div><svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-fenlei"></use>
        </svg></div>
        <div><svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingyue_jia"></use>
        </svg></div>
        <div><svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-wode"></use>
        </svg></div>
            </div>
    </footer>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../scripts/iconfont.js"></script>
<script src="../scripts/index.js"></script>
</body>
</html>