<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>党报进家庭</title>
    <link rel="stylesheet" href="../style/second-page.css">
</head>
<body>
<div class="container">
<header>
    <h1>分类</h1>
</header>
    <nav>
        <div class="inner">
            <div class="item"><a href="http://localhost:63342/partNewspaper/views/index.html?_ijt=erhu1okqpe07o25lbc4rgrgbjq">推荐</a></div>
            <div class="item selected">中央报刊</div>
            <div class="item">四川报刊</div>
            <div class="item">宜宾报刊</div>
            <div class="item">时政报刊</div>
            <div class="item">党建期刊</div>
            <div class="item">理论期刊</div>
        </div>
    </nav>
    <div class="news-items">
        <div class="picture">
           <div class="content">
               中央报刊
           </div>
        </div>
        <div class="picture">
            <div class="content">
                中央报刊
            </div>
        </div>
        <div class="picture">
            <div class="content">
                中央报刊
            </div>
        </div>
        <div class="picture">
            <div class="content">
                中央报刊
            </div>
        </div>
        <div class="picture">
            <div class="content">
                中央报刊
            </div>
        </div>
    </div>
    <footer>
        <div class="x-footer">
            <div><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-home"></use>
            </svg></div>
            <div><svg class="icon selected" aria-hidden="true">
                <use xlink:href="#icon-fenlei"></use>
            </svg></div>
            <div><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-dingyue_jia"></use>
            </svg></div>
            <div><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg></div>
        </div>
    </footer>
</div>
<script src="../scripts/iconfont.js"></script>
</body>
</html>